.footer {
	width: 100%;
	height: 40px;
	background-color: $color-inverse;
	border-top: 2px solid $color-inverse-lighter;
	color: $color-inverse-lighter !important; 
	font-size: 12px;
	padding-top: 10px;

	.footer-content {
		@include make-container();
    	@include make-container-max-widths();
    	margin: 0 auto;

    	@include media-down(sm) {
    		padding: 0;
    	}
	}

	.footer-block {

		&.copyright-block {
			float: left;
			width: 50%;
			text-align: left;
			padding: 10px 0;

			@include media-down(sm) {
	    		width: 100%;
	    		text-align: center;
	    	}
		}

		&.social-block {
			float: right;
			width: 50%;

			.btn-social {
                color: $color-inverse-lighter !important; 

                &:hover {
					color: $color-light !important;
                }
            }

			@include media-down(sm) {
	    		width: 100%;
	    		text-align: center;

	    		.social-list {
	    			float: none;
	    			display: inline-block;
	    		}
	    	}
		}

	}
}