<footer class="footer">
	
	<div class="footer-content">

		<div class="footer-block copyright-block">
			© Copyright 2016 ArtOfDuo | All Rights Reserved
		</div>

		<div class="footer-block social-block">
			{{> _common/social-buttons/social-buttons}}
		</div>

	</div>

</footer>