---
layout: _main-layout
---
<article class="home-article">
	<section class="section">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="carousel-item active">
					<img src="assets/image2.jpg" class="center-block" alt="First slide">
				</div>
				<div class="carousel-item">
					<img src="assets/image2.jpg" class="center-block" alt="Second slide">
				</div>
				<div class="carousel-item">
					<img src="assets/image2.jpg" class="center-block" alt="Third slide">
				</div>
			</div>
			<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				<span class="icon-prev" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				<span class="icon-next" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</section>
	<!-- <section class="section">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4">
				<img src="assets/image3.jpg">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<img src="assets/image4.jpg">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<img src="assets/image5.jpg">
			</div>
		</div>
	</section> -->
</article>
