.header {
	width: 100%;
	min-height: 120px;
	background-color: $color-light;
	border-bottom: 1px solid $color-light;

	.header-content {
		@include make-container();
    	@include make-container-max-widths();
    	margin: 0 auto;

    	@include media-down(md) {
    		margin: 0;
    		max-width: 100%;
    	}

    	@include media-down(sm) {
    		padding: 0;
    	}
	}
	
	.header-block {

		&.social-block {
			width: 100%;
			padding: 2.5px 20px;

			@include media-down(xs) {
		        display: none;
		    }
		}

		&.logo-block {
			float: left;
			width: 20%;

			@include media-down(sm) {
	    		width: 100%;
	    	}
		}

		&.menu-block {
			float: left;
			width: 80%;

			@include media-down(sm) {
	    		width: 100%;
	    	}
		}

	}

	.logo {
		height: 80px;
		width: 112px;
	}

	.btn-toggle {
		line-height: 60px;
		color: $color-inverse;

		&:focus {
			color: $color-primary;
			outline: none;
		}
	}

	@include media-down(xs) {
        min-height: 80px;
        border-bottom: transparent;
    }
}