<header class="header">
	
	<div class="header-block social-block">
		<div class="header-content">
			{{> _common/social-buttons/social-buttons}}
		</div>
	</div>

	<div class="header-content">
		<div class="header-block logo-block">
			<img class="logo" src="assets/logo.png">

			<button class="navbar-toggler btn-toggle hidden-md-up pull-xs-right" type="button" data-toggle="collapse" data-target="#header-menu">
				<i class="fa fa-bars"></i>
			</button>
		</div>

		<div class="collapse navbar-toggleable-sm header-block menu-block" id="header-menu">		
			{{> _common/header/menu/menu}}
		</div>
	</div>

</header>