.social-block {
    background-color: $color-inverse; 

    .social-list {
        float: right;
        margin: 0;
        padding: 0;
        list-style-type: none;

        .social-item {
            float: left; 

            .btn-social {
                font-size: 17px;
                padding: 4px 10px;
                color: $color-light; 
            }
        }
    }

    &::after {
        display: table;
        clear: both;
        content: ""; 
    }
}