<ul class="social-list">
	<li class="social-item">
		<a class="btn btn-social" href="#">
			<i class="fa fa-facebook"></i>
		</a>
	</li>
	<li class="social-item">
		<a class="btn btn-social" href="#">
			<i class="fa fa-twitter"></i>
		</a>
	</li>
	<li class="social-item">
		<a class="btn btn-social" href="#">
			<i class="fa fa-youtube-play"></i>
		</a>
	</li>
	<li class="social-item">
		<a class="btn btn-social" href="#">
			<i class="fa fa-soundcloud"></i>
		</a>
	</li>
	<li class="social-item">
		<a class="btn btn-social" href="#">
			<i class="fa fa-instagram"></i>
		</a>
	</li>
	<li class="social-item">
		<a class="btn btn-social" href="#">
			<i class="fa fa-google-plus"></i>
		</a>
	</li>
</ul>