.menu {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		float: left;
		margin-left: 10px;

		&:first-child {
			margin-left: 0;
		}

		a {
			display: block;
			color: $color-primary;
			text-decoration: none;
			padding: 27px 10px;
			border-top: 2px solid transparent;
			text-transform: uppercase;

			&:hover {
				border-color: $color-primary;
			}

			&.active {
				border-color: $color-primary;
			}

			@include media-down(md) {
				font-size: 12px;
			}
		}
	}


	@include media-down(sm) {
		float: none;
		width: 100%;
		background-color: $color-inverse-light;

		li {
			width: 100%;
			float: none;
			margin-left: 0;

			a {
				padding: 10px;
				color: $color-light;
				border-top: none; 
				font-size: 14px;

				&:hover {
					background-color: $color-inverse;
				}

				&.active {
					border-left: 4px solid $color-primary;
				}
			}
		}
	}
}