<ul class="menu">
	<li>
		<a class="active" href="">Home</a>
	</li>
	<li>
		<a href="">Repertoire</a>
	</li>
	<li>
		<a href="">About</a>
	</li>
	<li>
		<a href="">Videos</a>
	</li>
	<li>
		<a href="">News</a>
	</li>
	<li>
		<a href="">Store</a>
	</li>
	<li>
		<a href="">Tour</a>
	</li>
	<li>
		<a href="">Contact</a>
	</li>
</ul>