<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="css/vendor.css">
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>

		 {{!-- Default header block --}}
		{{> _common/header/header}} 

		{{!-- Content section --}}
        {{{body}}}

    	{{!-- Default footer block --}}
    	{{> _common/footer/footer}} 

		<script src="js/vendor.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>