@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import '_common/_styles/_mixins';

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700italic,700,500italic,500,400italic,300italic,300);

$color-primary: #FE0000;

$color-inverse: #000000;

$color-light: #ffffff;
$color-inverse-light: lighten($color-inverse, 10%);
$color-inverse-lighter: lighten($color-inverse, 20%);


html,
body {
	background-color: $color-inverse;
	padding: 0;
	margin: 0;
	height: 100%;
	min-height: 100%;
	font-family: 'Ubuntu', sans-serif;
	color: $color-primary;
	overflow-x: hidden;
}

.section {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	background-color: $color-inverse;

	&.light {
		background-color: $color-light;
	}
}